/* src\pages\TelaInical\styles.css */

.tela-inicial .container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.container h2 {
    color: #081e80;  

}

.tela-inicial .container .link-registrar {
    background-color: #081e80;
    border: #081e80;
}

.tela-inicial .plano-de-fundo .estadio-curuzu {
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}